* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
/* * {
	box-sizing: border-box;
} */

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0A5275;
	font-family: "华文楷体";
}

ul {
	list-style: none;
	margin-left: 17%;
	width: 100%;
	background-color:#2C3E50;
	padding-bottom: 1.2rem;
}

ul li {
	display: inline-block;
	padding-top: 1.25rem;
	padding-right: 2.5rem;
}

nav a {
	color: #ecf0f1;
	text-decoration: none;
	font-size: 2.5rem;
	padding: 15px 15px;
	border-radius: 8px;
}

nav a:hover {
	background-color: #ecf0f1;
	color: #2c3e50;
}

nav a.active {
	background: yellow;
	color: black;
}

#main-menu {
	z-index: 9999;
	position: fixed;
	text-align: center;
}

#section1 {
	background-size: cover;
	height: 90vh;
	background-position: center;
}

#maph {
	height: 48rem;
	padding: 0.3125rem;
	border: 0.1rem solid rgba(25, 186, 139, 0.17);
	margin-top: 1.5rem;
	margin-left: 10rem;
	margin-right: 10rem;
	background: #E6E4E4;
}

#section2 {
	height: 270vh;

}

#section3 {
	height: auto;
	background-position: center;

}

#section4 {
	height: 100vh;
}

#section5 {
	height: 100vh;
}


section {
	width: 100%;
	margin: 0;
	padding: 100px;
}

p{
	font-family: "华文楷体";
	color: #ffffff;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: -0.625rem;
}

h1{
	font-family: "华文楷体";
	color: #ffffff;
	line-height: 3rem;
}

/* table 人口表格(按行政区划) */
.column{
	width: 100%;
	height: auto;
}
.table{
	float: left;
	width: 50%;
}
.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}
.fl-table td, .fl-table th {
    text-align: center;
	font-weight: bold;
    padding: 8px;
}
.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}
.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}
.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

h2{
	font-family: "华文楷体";
	color: #ffffff;
	line-height: 1.2rem;
}
h3{
	font-family: "华文楷体";
	color: #ffffff;
	font-size: 1.2rem;
}
.a{
	float: left;
	width: 48%;
	height: 20rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.625rem;
	background:rgba(255, 255, 255, 0.05);	
	}
.chart01{
	float: left;
	width: 50%;
	height: 98%;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.25rem;
	background:rgba(255, 255, 255, 0.05);
}
h4{
	font-family: "华文楷体";
	color: #ffffff;
	font-size: 1.3rem;
	line-height: 2.2rem;
}
.chart02{
	float: left;
	width: 100%;
	height: 25rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart3{
	float: left;
	width: 100%;
	height: 22rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart03{
	float: left;
	width: 65%;
	height: 98%;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.25rem;
	background:rgba(255, 255, 255, 0.05);
}
.chart4{
	float: left;
	width: 100%;
	height: 26.5rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart41{
	float: left;
	width: 32.1%;
	height: 25rem;
	margin: 0.625rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart42{
	float: left;
	width: 32.1%;
	height: 25rem;
	margin: 0.625rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart43{
	float: left;
	width: 32.1%;
	height: 25rem;
	margin: 0.625rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart05{
	float: left;
	margin-left: 25rem;
	width: 50%;
	height: 25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart5{
	float: left;
	margin-left: 18rem;
	width: 65%;
	height: 25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart51{
	float: left;
	width: 40%;
	height: 23.5rem;
	margin: 0.625rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart52{
	float: right;
	width: 55%;
	height: 23.5rem;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	margin-right: 0.625rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
