* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #0A5275;
	font-family: "华文楷体";
}

ul {
	list-style: none;
	position: fixed;
	float: left;
	left: 8%;
	width: 80%;
	background-color:#2C3E50;
	padding-bottom: 1.2rem;
}

ul li {
	display: inline-block;
	padding-top: 1.25rem;
	padding-right: 2.5rem;
}

nav a {
	color: #ecf0f1;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 15px 15px;
	border-radius: 8px;
}

nav a:hover {
	background-color: #ecf0f1;
	color: #2c3e50;
}

nav a.active {
	background: yellow;
	color: black;
}

#main-menu {
	z-index: 9999;
	position: fixed;
	text-align: center;
}

#section1 {
	background-size: cover;
	height: 110%;
	background-position: center;
}

#maph {
	height: 80rem;
	width: 90%;
	padding: 0.3125rem;
	border: 0.1rem solid rgba(25, 186, 139, 0.17);
/* 	margin-top: 0.5%; */
	margin-left: 3%;
	background: #E6E4E4;
}

#section2 {
	height: 280%;

}

#section3 {
	height: 200%;
	background-position: center;

}

#section4 {
	height: 150%;
}

#section5 {
	height: 150%;
}


section {
	width: 100%;
	margin: 0;
	padding: 100px;
}

p{
	font-family: "华文楷体";
	color: #ffffff;
	font-size: 2rem;
	text-align: center;
	margin-bottom: -0.625rem;
}

h1{
	text-decoration: none;
	color: #ffffff;
	font-size: 1.1rem;
	line-height: 2.2rem;
}

/* table 人口表格(按行政区划) */
.table{
	float: left;
	width: 50%;
	margin-right: 0.625rem;
}
.fl-table {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}
.fl-table td, .fl-table th {
    text-align: center;
	font-weight: bold;
    padding: 8px;
}
.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12.4px;
}
.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}
.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}
.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

h2{
	color: #ffffff;
	font-size: 1.1rem;
}
h3{
	left: 5%;
	color: #ffffff;
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.chart1{
	float: left;
	width: 48%;
	height: 15rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.625rem;
	background:rgba(255, 255, 255, 0.05);	
	}
.chart01{
	float: left;
	width: 50%;
	height: 97%;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.25rem;
	background:rgba(255, 255, 255, 0.05);
}
h4{
	color: #ffffff;
	font-size: 1.0rem;
	line-height: 1.8rem;
}
.chart2{
	float: left;
	width: 100%;
	height: 18rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart3{
	float: left;
	width: 100%;
	height: 16rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart03{
	float: left;
	width: 65%;
	height: 98%;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);		
	margin-top: 0.25rem;
	margin-left: 0.25rem;
	background:rgba(255, 255, 255, 0.05);
}
h5{
	color: #ffffff;
	font-size:0.8rem;
	line-height: 1.8rem;
}
.chart4{
	float: left;
	width: 100%;
	height: 26rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart41{
	float: left;
	width: 32.5%;
	height: 19rem;
	margin-left: 0.4rem;
	margin-bottom: 0.4rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart42{
	float: left;
	width: 32.5%;
	height: 19rem;
	margin-left: 0.4rem;
	margin-bottom: 0.4rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart43{
	float: left;
	width: 32.5%;
	height: 19rem;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	margin-bottom: 0.4rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart5{
	float: left;
	margin-left: 9rem;
	padding-left: 0.625rem;
	width: 70%;
	height: 20rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart05{
	float: right;
	margin: 0.625rem;
	width: 60%;
	height: 18.5rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart6{
	float: left;
	padding-left: 0.3125rem;
	margin-left: 9rem;
	margin-top: 1.25rem;
	width: 70%;
	height: 30rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart61{
	float: left;
	width: 43%;
	height: 16rem;
	margin: 0.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart62{
	float: right;
	width: 55%;
	height: 16rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart7{
	float: left;
	margin-left: 8.5rem;
	margin-top: 1.25rem;
	width: 75%;
	height: 20rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart71{
	float: left;
	width: 41%;
	height: 19rem;
	margin: 0.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart72{
	float: right;
	width: 57%;
	height: 19rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart8{
	float: left;
	padding-left: 0.625rem;
	margin-left: 8.5rem;
	width: 75%;
	height: 18rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart08{
	float: right;
	margin: 0.25rem;
	width: 50%;
	height: 17rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart9{
	float: left;
	margin-left: 8.5rem;
	width: 75%;
	height:20rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart91{
	float: left;
	margin-right: 0;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
	width: 48.7%;
	height: 19rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart92{
	float: right;
	margin-left: 0;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-right: 0.25rem;
	width: 48.7%;
	height: 19rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart10{
	float: left;
	margin-left: 14rem;
	width: 75%;
	height: 32rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart101{
	float: left;
	margin-right: 0;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	margin-left: 0.625rem;
	width: 48.7%;
	height: 22rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart102{
	float: right;
	margin-left: 0;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	margin-right: 0.625rem;
	width: 48.7%;
	height: 22rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
.chart11{
	float: left;
	margin-left: 14rem;
	width: 75%;
	height: 5rem;
	margin-top: 1.25rem;
	border: 0.1875rem solid rgba(25, 186, 139, 0.17);	
	background:rgba(255, 255, 255, 0.05);
}
